.StartScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url("../images/bg_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .StartScreen h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
   
  .Home-Modal{
    padding-top: 22vw ;
  }

  .StartScreen button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: #37515F;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out;
    /* min-width: 150px; */
  }
  
  .StartScreen button:hover {
    background-color: #537c93;
  }

  /*App CSS */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Quicksand:wght@400;600&display=swap');

body {
  font-family: 'Quicksand', sans-serif; 
}
 

.modal-content {
  max-height: 90vh;
  overflow-y: auto;
}

.back-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-content {
    max-height: 80vh;
    overflow-y: auto;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .modal-content {
    max-height: 70vh; 
    overflow-y: auto; 
  }
}

#modal-title {
  margin-top: 15vw;
}

.StartScreen button:first-of-type {
  position: absolute;
  top: 0;
  right: 0;
  background-color :rgba(255, 255, 255, 0);

}

.StartScreen video {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

video {
  max-width: 40vw !important;
}

.modal-description {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #4a4a4a;
  border-radius: 10px;
  padding: 20px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 90%;
  margin-top: -20px;
}

@media (max-width: 768px) {
  video {
    max-height: 30vh;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .modal-description {
    font-size: 0.9rem;
    padding: 5px;
    width: 100%;
  }

  #modal-title {
    margin-top: 30vh;
  }

  video {
    max-height: 40vh;
  }
}
